body {
  margin: 0;
  padding: 0;
  height: 100vh;  
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('assets/image3.jpg');  
  background-size: cover;  
  background-position: center;  
  background-repeat: no-repeat;  
  font-family: Arial, sans-serif;
}


.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 30px;
  width: 400px;
  box-shadow: 0 10px 15px rgb(0 0 0 / 30%);
}

h1 {
  text-align: center;
  color: #0788f8ec;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color:#0788f8ec;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 15px;
}

button:hover {
  background-color: #0788f8ec;
}

.favorites {
  margin-top: 20px;
}

.favorites-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  background: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
}

.favorites-item button {
  background: #ff6f61;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
