default:
  image: node:20-alpine

# Cache modules in between jobs
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .npm/

stages:
  - test
tests:
  stages: test
  script:
   - npm ci --cache .npm --prefer-offline
   - npm run test:ci

  coverage: /All files[^\|]*\|[^\|]*\s+([\d\.]+)/ 
  only:
    - main